/*-------------------MEDIAQUERY---------------------------*/
@media screen and (max-width: 992px) {
    .navbar-nav{
        row-gap: 0;
        font-size: 18px;
        padding-bottom: 0;
        margin-top: 0;
    }
}


@media screen and (max-width: 933px) {
    .galeria-tienda {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 450px;
    }
}

@media screen and (max-width: 920px) {
    .menu {
        grid-template-columns: 280px 280px;
        grid-template-rows: 280px 280px;
    }
}

@media screen and (max-width: 920px) {
    .blog .blog-pielcanela h1 {
        font-size: 15px;
    }
}


@media screen and (max-width: 872px) {
    .domicilio {
        flex-direction: column;
    }

    .domicilio .ciudades {
        width: 80%;
        text-align: center;
        margin: 0;
    }

    .domicilio div img {
        width: 400px;
        height: 400px;
        justify-content: center;

    }

    .servicio ul li {
        font-size: 15px;
    }
}

@media screen and (max-width: 854px) {
    .fondo h2 {
        font-size: 70px;
    }

    .fondo p {
        font-size: 20px;
        text-align: center;
    }

    .informacion div h2 {
        font-size: 40px;
        text-align: center;
    }

    .informacion div h3 {
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 850px) {
    .invertida {
        hr {
            height: 7px;
            width: 50%;
            background-color: $color-principal;
            margin-bottom: 80px;
            margin-top: 30px;
        }

    }
}

@media screen and (max-width: 810px) {
    .blog {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 350px 350px;
        column-gap: 20px;
        row-gap: 100px;
        padding: 50px;
    }

}

@media screen and (max-width: 793px) {
    .informacion div h2 {
        font-size: 35px;
        text-align: center;
    }

    .informacion div h3 {
        font-size: 18px;
        text-align: center;
    }
}


@media screen and (max-width: 769px) {
    .domicilio .ciudades h2 {
        font-size: 30px;
    }

    .domicilio .ciudades h3 {
        font-size: 15px;
    }
}

@media screen and (max-width: 738px) {
    .blog .blog-pielcanela h2 {
        font-size: 12px;
    }
}

@media screen and (max-width: 720px) {
    .blog {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 330px 330px;
        column-gap: 20px;
        row-gap: 100px;
        padding: 60px;
    }
}

@media screen and (max-width: 700px) {
    footer .informacion-contacto h1 {
       font-size: 15px;
    }
}

@media screen and (max-width: 700px) {
    footer .informacion-contacto a h2 {
       font-size: 15px;
    }

}


@media screen and (max-width: 660px) {
    .galeria-tienda {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 400px;
    }

}

@media screen and (max-width: 640px) {
    footer .informacion-contacto .redes img {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row-reverse;
        margin-top: -85px;
        padding: 10px;
        gap: 20px;
        width: 50px;
        height: 50px;

    }
}

@media screen and (max-width: 600px) {
    .domicilio .ciudades h2 {
        font-size: 25px;
    }

    .domicilio .ciudades h3 {
        font-size: 18px;
    }

    .domicilio div img {
        width: 300px;
        height: 300px;
        justify-content: center;
        padding: 0;

    }
}

@media screen and (max-width: 605px) {
    .blog .blog-pielcanela h1 {
        font-size: 13px;
    }
}

@media screen and (max-width: 585px) {
    .promociones-general .trajes-promocion {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 577px) {
    .menu {
        grid-template-columns: 250px 250px;
        grid-template-rows: 250px 250px;
    }
}

@media screen and (max-width: 567px) {
    .fondo h2 {
        font-size: 60px;
    }

    .fondo p {
        font-size: 18px;
        text-align: center;
    }

    .servicio ul li {
        font-size: 10px;
        align-items: center;
    }
}

@media screen and (max-width: 569px) {

    .blog {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 300px 300px;
        column-gap: 20px;
        row-gap: 100px;
        padding: 40px;
    }

    .blog .blog-pielcanela h2 {
        font-size: 10px;
    }

}

@media screen and (max-width: 510px) {
    .menu {
        grid-template-columns: 230px 230px;
        grid-template-rows: 230px 230px;
    }
}

@media screen and (max-width: 533px) {
    .promociones-general {
        column-gap: 5px;
        row-gap: 5px;
        padding: 5px;
        margin-bottom: 80px;
        margin-left: 20px;
    }
}


@media screen and (max-width: 500px) {
    .galeria-tienda {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 400px;
    }
}

@media screen and (max-width: 495px) {
    .servicio ul li {
        font-size: 10px;
        margin: 0;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 482px) {
    .blog {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 400px;
    }
}


@media screen and (max-width: 480px) {
    .menu {
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px;
    }
}

@media screen and (max-width: 466px) {
    .galeria-tienda .tienda-trajes {
        bottom: 25px;
        row-gap: 60px;
    }
}

@media screen and (max-width: 443px) {
    .blog .blog-pielcanela {
        margin-bottom: 20px;
        margin-left: 5px;
    }
}


@media screen and (max-width: 418px) {
    .menu {
        grid-template-columns: 200px;
        grid-template-rows: 200px 200px 200px 200px;
    }
}

@media screen and (max-width: 400px) {
    .nueva h2 {
        font-size: 25px;
    }

    .nueva .ultimos-diseños div img {
        width: 200px;
        height: 250px;
    }

    .nueva .ultimos-diseños div:hover {
        box-shadow: 49px -13px 65px -10px rgba(0, 0, 0, 0.46);
        -webkit-box-shadow: 49px -13px 65px -10px rgba(0, 0, 0, 0.46);
        -moz-box-shadow: 49px -13px 65px -10px rgba(0, 0, 0, 0.46);

    }

    .nueva .ultimos-diseños div {
        width: 200px;
        height: 300px;
        box-shadow: 10px 11px 22px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 11px 22px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 11px 22px 0px rgba(0, 0, 0, 0.75);

    }

    .nueva .ultimos-diseños div h3 {
        font-size: 15px;
    }

}

@media screen and (max-width: 357px) {
    .domicilio div img {
        width: 300px;
        height: 250px;
        justify-content: center;
        margin-left: -20px;


    }
}

@media screen and (max-width: 916px) {
    .promociones {
        width: 90%;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 350px 350px;
        grid-template-rows: 350px 350px;
        gap: 10px;
        justify-content: center;
        margin-left: 40px;
    }

    .promociones .promociones-tallas img {
        box-shadow: -11px 0px 29px 21px rgba(35, 35, 35, 0.6);
        -webkit-box-shadow: -11px 0px 29px 21px rgba(35, 35, 35, 0.6);
        -moz-box-shadow: -11px 0px 29px 21px rgba(35, 35, 35, 0.6);
    }
}



@media screen and (max-width: 915px) {
    .historia {
        flex-direction: column;
        padding: 10px;
        margin: 5px;
    }

    .historia p {
        margin: 10px;
        width: 90vh;
        font-size: 18px;
        text-align: justify;

    }


    .historia img {
        width: 500px;
        height: 400px;
    }
}

@media screen and (max-width: 850px) {
    .equipo {
        flex-direction: column;
    }

    .equipo div {
        margin: 10px;
        width: 90vh;
    }

    .equipo div h1 {
        font-size: 23px;
        text-align: center;
    }

    .equipo div p {
        font-size: 18px;
        text-align: justify;
    }

    .equipo img {
        width: 400px;
        height: 500px;
        padding: 5px 0 30px 0;
    }

    .tv img {
        width: 350px;
        height: 500px;
        margin: 10px;
    }

    .moda img {
        width: 400px;
        height: 400px;
        margin: 10px;
    }

    .nuestroequipo {
        flex-direction: column-reverse;
        margin: 5px;
    }

    .nuestroequipo div {
        margin: 10px;
        width: 90vh;
    }

    .nuestroequipo div h1 {
        font-size: 23px;
        text-align: center;
        margin: 5px;
    }

    .nuestroequipo div p {
        font-size: 18px;
        text-align: justify;
        margin: 5px;
    }

    .aprender h1 {
        font-size: 18px;
    }

    .aprender h2 {
        font-size: 13px;
    }
}

@media screen and (max-width: 750px) {
    .talla img {
        justify-content: center;
        width: 90%;
        height: 40vh;
        margin: 5px;
        margin-left: 30px;
    }

    .promociones {
        width: 80%;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 300px 300px;
        gap: 10px;
        justify-content: center;
        margin-left: 80px;
    }

    .promociones .promociones-tallas img {
        box-shadow: -11px 0px 29px 21px rgba(35, 35, 35, 0.6);
        -webkit-box-shadow: -11px 0px 29px 21px rgba(35, 35, 35, 0.6);
        -moz-box-shadow: -11px 0px 29px 21px rgba(35, 35, 35, 0.6);
    }
}



@media screen and (max-width: 741px) {
    .moda div h1 {
        font-size: 23px;
        text-align: center;
    }

    .moda div p {
        font-size: 18px;
        text-align: justify;
    }

    .tv div h1 {
        font-size: 23px;
        text-align: center;
    }

    .tv div p {
        font-size: 18px;
        text-align: justify;
    }
}

@media screen and (max-width: 719px) {
    .promociones-general {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 350px 350px;
        column-gap: 25px;
        row-gap: 100px;
        padding: 50px;
    }

    .promociones-general .trajes-promocion .tachar h3 span {
        color: #e74a4a;
    }
}


@media screen and (max-width: 680px) {
    .historia img {
        width: 400px;
        height: 300px;
    }

    .equipo img {
        width: 300px;
        height: 400px;
    }

    .tv img {
        width: 300px;
        height: 400px;
    }

    .moda img {
        width: 300px;
        height: 300px;
    }

    .nuestroequipo img {
        width: 400px;
        height: 300px;
    }
}


@media screen and (max-width: 665px) {
    .talla img {
        justify-content: center;
        width: 80%;
        height: 30vh;
        margin: 5px;
        margin-left: 65px;
    }

    .promociones {
        width: 80%;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 300px 300px;
        gap: 10px;
        margin-left: 70px;
    }

    .promociones-general .trajes-promocion h2 {
        font-size: 15px;
    }

    .promociones-general .trajes-promocion .tachar h3 {
        font-size: 15px;
        text-decoration-line: line-through;
        display: inline-block;
        margin: 5px;
        color: #e74a4a;
    }
}


@media screen and (max-width: 633px) {
    .promociones {
        width: 80%;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 280px 280px;
        grid-template-rows: 280px 280px;
        gap: 10px;
        margin-left: 70px;
    }

    .talla img {
        justify-content: center;
        width: 70%;
        height: 25vh;
        margin: 5px;
        margin-left: 95px;
    }
}

@media screen and (max-width: 610px) {
    .equipo div p {
        font-size: 15px;
        text-align: justify;
    }

    .nuestroequipo div p {
        font-size: 15px;
        text-align: justify;
        margin: 5px;
    }

    .aprender h1 {
        margin: 15px;
    }

    .aprender h2 {
        margin: 15px;
    }
}


@media screen and (max-width: 602px) {
    .promociones {
        width: 80%;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 250px 250px;
        grid-template-rows: 250px 250px;
        gap: 8px;
        margin-left: 60px;
    }
}


@media screen and (max-width: 602px) {
    .equipo div p {
        font-size: 12px;
        text-align: justify;
        margin: 5px;
    }

    .nuestroequipo div p {
        font-size: 12px;
        text-align: justify;
        margin: 5px;
    }

    .historia p {
        font-size: 15px;
        text-align: justify;
        margin: 5px;
    }

    .tv {
        flex-direction: column-reverse;
    }

    .tv div {
        margin: 5px;
    }

    .moda {
        flex-direction: column;
    }

    .moda div h1 {
        font-size: 20px;
        text-align: center;
    }

    .moda div p {
        font-size: 15px;
        text-align: justify;
    }

    .moda div {
        margin: 0;
    }

}

@media screen and (max-width: 593px) {
    .historia {
        padding: 0;
        margin: 0;
    }

    .historia p {
        width: 80%;
        height: 100%;
    }

    .historia img {
        width: 350px;
        height: 250px;
        margin: 10px;
    }
}


@media screen and (max-width: 588px) {
    .historia {
        padding: 0;
        margin: 0;
    }

    .historia p {
        width: 80%;
        height: 100%;
    }

    .nuestroequipo div {
        width: 80%;
        margin: 0;
        text-align: start;
    }



    .equipo div {
        width: 80%;
        margin: 0;
        text-align: start;
    }

    .nuestroequipo img {
        width: 300px;
        height: 200px;

    }
}

@media screen and (max-width: 533px) {
    .promociones {
        width: 80%;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 230px 230px;
        grid-template-rows: 230px 230px;
        gap: 8px;
        margin-left: 55px;
    }

    .promociones-general {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 350px 350px;
        column-gap: 25px;
        row-gap: 100px;
        padding: 10px;
        margin-left: 30px;
    }

}

@media screen and (max-width: 500px) {
    .moda {
        padding-right: 0;
    }
}


@media screen and (max-width: 500px) {
    .tv div h1 {
        font-size: 20px;
        text-align: center;
    }

    .tv div p {
        font-size: 15px;
        text-align: justify;
    }

    .tv img {
        width: 250px;
        height: 350px;
        padding-bottom: 20px;
    }

    .moda img {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 486px) {
    .promociones {
        width: 80%;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px;
        gap: 8px;
        margin-left: 55px;
    }

    .promociones .promocion-tallas h1 {
        position: absolute;
        bottom: 0;
        color: white;
        background-color: rgba(0, 0, 0, 0.199);
        width: 100%;
        padding: 5px;
        font-size: 15px;
    }

    .talla img {
        justify-content: center;
        width: 65%;
        height: 20vh;
        margin: 5px;
        margin-left: 85px;
    }
}

@media screen and (max-width: 440px) {
    .promociones {
        width: 80%;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px;
        gap: 8px;
        margin-left: 45px;
    }
}

@media screen and (max-width: 420px) {
    .promociones {
        width: 80%;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 180px 180px;
        grid-template-rows: 180px 180px;
        gap: 8px;
        margin-left: 45px;
    }
}

@media screen and (max-width: 390px) {
    .historia img {
        width: 300px;
        height: 200px;
    }

    .nuestroequipo img {
        margin: 10px;
    }

    .promociones-general {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 300px;
        column-gap: 25px;
        row-gap: 90px;
        padding: 30px;
        margin-left: 15px;
    }

    .promociones {
        width: 70%;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 180px 180px;
        grid-template-rows: 180px 180px;
        gap: 8px;
        margin-left: 55px;
    }

}

@media screen and (max-width: 376px) {
    .promociones {
        width: 80%;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 150px 150px;
        grid-template-rows: 150px 150px;
        gap: 8px;
        margin-left: 45px;
    }
}

@media screen and (max-width: 355px) {
    .promociones {
        width: 80%;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 170px 170px;
        grid-template-rows: 170px 170px;
        gap: 8px;
        margin-left: 35px;
    }

    .talla img {
        justify-content: center;
        width: 55%;
        height: 10vh;
        margin: 5px;
        margin-left: 75px;
    }

    .promociones .promocion-tallas h1 {
        position: absolute;
        bottom: 0;
        color: white;
        background-color: rgba(0, 0, 0, 0.199);
        width: 100%;
        padding: 5px;
        font-size: 10px;
    }

}