header nav {
    font-size: 20px;
    margin: 0;
    background: rgb(254, 213, 164);
    background: linear-gradient(27deg, rgba(254, 213, 164, 1) 29%, rgba(220, 171, 94, 1) 57%);
}


header nav img {
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
}

