header nav {
    font-size: 20px;
    margin: 0;
    background: rgb(254, 213, 164);
    background: linear-gradient(27deg, rgba(254, 213, 164, 1) 29%, rgba(220, 171, 94, 1) 57%);
}


header nav img {
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
}

.navbar-collapse {
    flex-grow: 0;
    margin: 15px;
    margin-right: 40px;
}

.navbar-nav{
    column-gap: 30px;
}

.navbar-toggler{
  color: black;
  background-color: $color-principal;
}

.navbar-toggler-icon{
    color: $color-principal;
}

.navbar-nav .nav-link{
    &:hover{
        color: $color-principal;
        font-size: 25px;
    }
}

.navbar-collapse{
    margin-top: 0;
}